/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: "Shurjo";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.prothomalo.com/prothomalo/assets/ShurjoWeb_400_v2-6a682f6f610beeda14f0.woff2) format('woff2'),
       url(https://assets.prothomalo.com/prothomalo/assets/ShurjoWeb_400_v2-f516035cb806da4a249e.woff) format("woff"),
       url(https://assets.prothomalo.com/prothomalo/assets/ShurjoWeb_400_v2-46e441a492e5db01a626.ttf) format("truetype");
}
@font-face {
  font-family: "Shurjo";
  font-display: swap;
  font-weight: 700; 
  font-style: normal;
  src: url(https://assets.prothomalo.com/prothomalo/assets/ShurjoWeb_700_v2-ef9e058ccc3a98d85030.woff2) format("woff2"),
       url(https://assets.prothomalo.com/prothomalo/assets/ShurjoWeb_700_v2-72cba63e779d86520525.woff) format('woff'),
       url(https://assets.prothomalo.com/prothomalo/assets/ShurjoWeb_700_v2-7084d97ccd992205d87b.ttf) format('truetype'), 
       url(https://assets.prothomalo.com/prothomalo/assets/ShurjoWeb_700_v2-6f30c4f7cce4d463f8e4.eot) format("embedded-opentype");
}   

:root {
  /**
  @font family declaration
  */
  --font-poppins: poppins;
  --font-montserrat: 'Inter', sans-serif;
  /**
  @color declaration
  */
  --brand-color: #5956e9;
  --secondary-color: #423ef3;
  --paragraph-color: #7e7e7e;
  --paragraph-size: 17px;
  --orange-color: #fd346e;
  --heading-color: #292930;
  --gray-color: gray;
  --gray-color-2: #f8f8f8;
  --bg-color: #f2f4f8;
  --border-color: var(--bg-color);
  --font-bold: 500;
  --white-color: white;
  --wip-color: #f92c01;
  --wip-bg-img-color: radial-gradient(
    circle at top right,
    #fda40c 0%,
    #f92c01 100%
  );
  --secondary-bg: linear-gradient(115deg, rgb(42, 39, 218), rgb(0, 204, 255));
  --purpleColor: #c211a1;
  --shadow: 0 1px 1px rgb(0 0 0 / 10%);
  --hover-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  --header-height: 60px;
  --radius: 5px;
  --font-color: #7269ef;
  --green-color: #009688;
  --danger-color: rgb(221, 51, 51);
  --transition: all 0.3s ease-in-out;
  --sidebar-width: 18%;
  --sidebar-body-width: 82%;
}

:root {
  --brandColor: #009688;
  --seconderyColor: #f5f8fd;
  --seconderyColorDark: #f2f4f8;
  --brandColorDark: var(--main);
  --reviewColor: #ff5722;
  --purpleColor: #c211a1;
  --paragraph-color: #7e7e7e;
  --paragraph-size: 17px;
  --orange-color: #fd346e;
  --heading-color: #292930;
  --gray-color: gray;
  --light: 'lightgray';
  --white: white;
  --gray: #f7f7f7;
  --gray-color: gray;
  --fontBold: 600;
  --black: #00224f;
  --borderColor: #80808040;
  --hover-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  --shadow: 0 1px 1px rgb(0 0 0 / 10%);
  --radious: 3px;
  --montserrat: 'Montserrat', Shurjo;
  --inter: 'Inter', Shurjo;
  --font-bold: 500;
  --transition: all 0.3s ease-in-out;
  --sidebar-width: 250px;
  --sidebar-toggle-width: 70px;

  /* toolsia brand colors */
  --site-width: 1200px;
  --bg: #f2f4f8;
  --main: #7300e6;
  --normal: #8b3dff;
  --low: #9e77f3;
  --light: #00c4cc;
  --verify: #0ea5e9;
  --btn-size: 16px;
  --h2-size: 20px;
  --p-size: 16px;
  --p-mini: 14px;
  --p-line-height: 27px;
  --svg-size: 20px;
  --light-color: rgba(13, 18, 22, 0.7);
  --gray-color: rgba(13, 18, 22, 0.86);
  --gradient: radial-gradient(
      100.99% 100.73% at 0% 0%,
      rgba(0, 196, 204, 0.726) 0%,
      #00c4cc 0.01%,
      rgba(0, 196, 204, 0) 100%
    ),
    radial-gradient(
      68.47% 129.02% at 22.82% 97.71%,
      #6420ff 0%,
      rgba(100, 32, 255, 0) 100%
    ),
    radial-gradient(
      106.1% 249.18% at 0% 0%,
      #00c4cc 0%,
      rgba(0, 196, 204, 0) 100%
    ),
    radial-gradient(
      64.14% 115.13% at 5.49% 50%,
      #6420ff 0%,
      rgba(100, 32, 255, 0) 100%
    ),
    #7d2ae7;
  --color-bghovertransparent: rgba(0, 0, 0, 0.05);
  --color-bg: rgba(255, 255, 255, 1);
  --transparent-bg: hsla(0, 0%, 100%, 0.07);
  --red: red;
  --error-color: #d7403a;
  /* inset 0 1px 2px -1px hsla(0,0%,100%,.15),0px -6px 8px -8px rgba(13,18,22,.15) */
  /* linear-gradient(#252627,#252627) padding-box,linear-gradient(to bottom right,#00c4cc,#8b3dff) border-box */
}

.dark-theme {
  --bg: #151521;
  --bg-light: #1e1e2d;
  --p-color: #565674;
  --p-light-color: #d7d7d7;
  --h-color: #ffffff;
  --gray: gray;
  --brand: #009688;
  --filter: invert(1);
  --white: #fff;
}
.light-theme {
  --bg: #f2f4f8;
  --bg-light: #ffffff;
  --p-color: #565674;
  --p-light-color: #0d1216;
  --h-color: #0d1216;
  --brand: var(--main);
  --filter: unset;
  --white: #fff;
}

html {
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: var(--font-poppins), 'Shurjo';
  box-sizing: border-box;
  /* background-color: rgba(218, 218, 218, 0.466); */
  scroll-behavior: smooth;
  background: var(--bg);
  transition: var(--transition);
}
::selection {
  background: var(--main);
  color: white;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--h-color);
  margin-top: 0px;
  font-weight: var(--font-bold);
  line-height: 1.2;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  color: var(--h-color);
}
p {
  font-size: var(--p-size);
  font-weight: 400;
  color: var(--p-light-color);
  line-height: var(--p-line-height);
}
button {
  font-family: var(--font-poppins);
}
strong {
  color: var(--black);
}
